<div class="media" id="reply_notice_builtin_form_<%= notice.id %>">
  <div class="col-md-1 pull-left">
    <%= image_tag user.icon_url, alt: user.nickname, class: "img-rounded", size: "64x64" %>
    <br><%= user.nickname %>
  </div>
  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <% reply = Reply.new %>
        <%= form_for [notice, reply], remote: true do |f| %>
          <%= f.text_area :body, class: "form-control", rows: 5, placeholder: "返信を書く" %>
          <br>
          <span class="pull-right">
            <%= f.submit "返信する", class: "btn btn-primary" %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
