<div class="media">
  <%= link_to user_path(reply.user), class: "pull-left" do %>
    <%= image_tag reply.user.icon_url, alt: reply.user.nickname, class: "img-rounded", size: "64x64" %>
    <br><%= reply.user.nickname %>
  <% end %>
  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= raw markdown_to_html(reply.body) %>
        <br><span class="pull-right"><%= reply.created_at_string %></span>
      </div>
      <div class="panel-footer">
        <button id="like_reply_<%= reply.id %>" type="button" class="likeReply btn btn-default">
          <% if user_signed_in? && reply.liked_by?(current_user) %>
            <span class="star glyphicon glyphicon-star"></span>
          <% else %>
            <span class="star glyphicon glyphicon-star-empty"></span> 
          <% end %>
          <span class="value"><%= reply.like_number %><span>
        </button>
    
        <span class="pull-right">
          <%= link_to '編集', edit_notice_reply_path(notice, reply), class: "btn btn-primary" if reply.user_id == current_user.id %>
        </span>
      </div>
    </div>
  </div>
</div>
