<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for([@notice, @reply]) do |f| %>
      <% if @reply.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>
    
          <ul>
          <% @reply.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group field">
        <%= f.label :body %><br>
        <%= f.text_area :body, rows: 15, class: "form-control "%>
      </div>
      <div class="actions">
        <%= f.submit nil, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
