<% base_id = "#{@notice.id}" %>
<% if @reply.errors.any? %>
  <%
      error_html = "<ul>"
      @reply.errors.full_messages.each do |message|
        error_html += "<li>#{message}</li>"  
      end
      error_html += "</ul>"
  %>
  $("#reply_errors_<%= base_id %>").html('<%= error_html.html_safe %>');
  $("#reply_errors_<%= base_id %>").show();
<% else %>
  $("#reply_errors_<%= base_id %>").hide();
  $("#reply_notice_builtin_form_<%= base_id %>").before('<%= j(render "replies/detail", notice: @notice, reply: @reply) %>');
  $("#reply_body_<%= base_id %>").val("");
<% end %>
