<% base_id = notice.id ? notice.id : "new" %>
<div class="media" id="notice_builtin_form_<%= base_id %>">
  <div class="col-md-1 pull-left">
    <%= link_to user_path(current_user) do %>
      <%= image_tag current_user.icon_url, alt: current_user.nickname, class: "img-rounded", size: "64x64" %>
      <br><small><%= current_user.nickname %></small>
    <% end %>
  </div>
  <div class="media-body col-md-11">
    <div class="panel panel-default">
      <%= form_for notice, remote: true do |f| %>
        <div class="panel-body">
          <strong><%= f.text_field :title, id: "notice_title_#{base_id}", class: "form-control", placeholder: "タイトルをつける" %></strong>
          <br>
          <%= f.text_area :body, id: "notice_body_#{base_id}", class: "form-control", rows: 10, placeholder: "きづきを書く" %>
          <br>
          <span class="pull-right">
            <% if notice.draft? %>
              <%= f.submit "公開", class: "btn btn-primary", name: "publish" %>
              <%= f.submit "下書き", class: "btn btn-default" %>
              <a class="btn btn-default" onClick="$('#notice_detail_<%= base_id %>').show(); $('#notice_builtin_form_<%= base_id %>').remove()" href="javascript:void(0);">キャンセル</a>
            <% else %>
              <%= f.submit "更新する", class: "btn btn-primary" %>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
