<div class="media">
  <%= link_to user_path(notice.user), class: "pull-left" do %>
    <%= image_tag notice.user.icon_url, alt: notice.user.nickname, class: "img-rounded", size: "64x64" %>
    <br><%= notice.user.nickname %>
  <% end %>
  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <% if notice.draft? %><span class="label label-default">下書き</span><% end %>
          <strong><%= link_to notice.title, notice_path(notice) %></strong>
        </div>
      </div>
      <div class="panel-body">
        <%= raw markdown_to_html(notice.body) %>
        <br><span class="pull-right"><%= notice.created_at_string %></span>
      </div>
      <div class="panel-footer">
        <button id="like_notice_<%= notice.id %>" type="button" class="likeNotice btn btn-default">
          <% if user_signed_in? && notice.liked_by?(current_user) %>
            <span class="star glyphicon glyphicon-star"></span>
          <% else %>
            <span class="star glyphicon glyphicon-star-empty"></span> 
          <% end %>
          <span class="value"><%= notice.like_number %><span>
        </button>
    
        <button id="opened_notice_<%= notice.id %>" type="button" class="openedNotice btn btn-default">
          <% if user_signed_in? && notice.read_by?(current_user) %>
            <span class="opened glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="opened glyphicon glyphicon-minus"></span> 
          <% end %>
        </button>
    
        <%= link_to "返信数：#{ notice.replies.count }", new_notice_reply_path(notice), class: "btn btn-default" %>
        <span class="pull-right">
          <%= link_to '編集', edit_notice_path(notice), class: "btn btn-primary"  if notice.user_id == current_user.id %>
        </span>
      </div>
    </div>
  </div>
</div>
