<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <strong><%= link_to notice.title, notice_path(notice) %></strong>
      <span class="pull-right"><small><%= notice.user.nickname %></small></span>
    </div>
  </div>
  <div class="panel-body">
    <%= raw markdown_to_html(notice.body) %>
    <br><span class="pull-right"><%= notice.created_at_string %></span>
  </div>
  <div class="panel-footer">
    いいね数：999
    返信数：<%= notice.replies.count %>
    <span class="pull-right">
      <%= link_to '編集', edit_notice_path(notice)  if notice.user_id == current_user.id %>
    </span>
  </div>
</div>
