<div class="media" id="notice_detail_<%= notice.id %>">
  <div class="col-md-1 pull-left">
    <%= link_to user_path(notice.user) do %>
      <%= image_tag notice.user.icon_url, alt: notice.user.nickname, class: "img-rounded", size: "64x64" %>
      <br><small><%= notice.user.nickname %></small>
    <% end %>
  </div>
  <div class="media-body col-md-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <% if notice.draft? %><span class="label label-default">下書き</span><% end %>
          <strong><%= link_to notice.title, notice_path(notice) %></strong>
          <br>
          <% notice.tags.each do |tag| %>
            <%= link_to tag_path(tag), class: "btn btn-default btn-xs" do %>
              <span class="glyphicon glyphicon-tag"><%= tag.name %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="panel-body">
        <div class="markdown_body">
          <%= raw markdown_to_html(notice.body) %>
        </div>
        <pre id="notice_body_src_<%= notice.id %>" style="display: none;">
<%= notice.body %>
        </pre>
        <span class="pull-right"><%= notice.created_at_string %></span>
      </div>
      <div class="panel-footer">
        <button id="like_notice_<%= notice.id %>" type="button" class="likeNotice btn btn-default">
          <% if user_signed_in? && notice.liked_by?(current_user) %>
            <span class="star glyphicon glyphicon-star"></span>
          <% else %>
            <span class="star glyphicon glyphicon-star-empty"></span> 
          <% end %>
          <span class="value"><%= notice.like_number %><span>
        </button>
    
        <button id="opened_notice_<%= notice.id %>" type="button" class="openedNotice btn btn-default">
          <% if user_signed_in? && notice.read_by?(current_user) %>
            <span class="opened glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="opened glyphicon glyphicon-minus"></span> 
          <% end %>
        </button>
    
        <%= link_to "返信数：#{ notice.replies.count }", notice_path(notice), class: "btn btn-default" %>
        <span class="pull-right">
          <% if notice.user_id == current_user.id %>
            <%= link_to('編集', edit_notice_path(notice), class: "btn btn-primary", remote: true) if notice.user_id == current_user.id %>
          <% else %>
            <button class="btn btn-default" onclick="$('#notice_body_src_<%= notice.id %>').toggle(200);">ソース</button>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
