<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(@notice) do |f| %>
      <% if @notice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>
    
          <ul>
          <% @notice.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group field">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group field">
        <%= f.label :body %><br>
        <%= f.text_area :body, rows: 15, class: "form-control" %>
      </div>
      <div class="actions">
        <% if @notice.draft? %>
          <%= f.submit "公開", class: "btn btn-primary", name: "publish" %>
          <%= f.submit "下書き", class: "btn btn-default" %>
        <% else %>
          <%= f.submit "保存", class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
