<%
  builtin ||= false
  remote = builtin ? true : false
  base_id = notice.present? && notice.id.present? ? notice.id : "new"
%>
<div class="media notice_unit" id="notice_builtin_form_<%= base_id %>">
  <div class="media-left">
    <%= link_to user_path(current_user) do %>
      <%= image_tag current_user.icon_url, alt: current_user.nickname, class: "img-rounded", size: "64x64" %>
      <br><small><%= current_user.nickname %></small>
    <% end %>
  </div>
  <div class="media-body">
    <div class="panel panel-default">
      <%= form_for notice, remote: remote, html: { class: "easy_submit_form" } do |f| %>
        <div class="panel-body">
          <% if remote %>
            <div id="notice_errors_<%= base_id %>" class="alert alert-warning" style="display: none;"></div>
          <% elsif notice.errors.any? %>
            <div id="notice_errors_<%= base_id %>" class="alert alert-warning">
              <ul>
                <% @notice.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <strong><%= f.text_field :title, id: "notice_title_#{base_id}", class: "form-control", placeholder: "タイトルをつける" %></strong>
          <br>
	  <%= render "shared/markdown_preview" %>
          <%= f.text_area :body, id: "notice_body_#{base_id}", class: "form-control markdown_writing", rows: 10, placeholder: "きづきを書いてください。markdownで書けます。" %>
          <br>
          <span class="glyphicon glyphicon-tags"></span>&nbsp;タグ&nbsp;<span class="text-muted">カンマ区切りで複数していできます。例) タグ1,タグ2</span><br>
          <%= f.text_field :tags_string, id: "notice_tags_string_#{base_id}", class: "form-control", placeholder: "タグ1,タグ2" %></strong>
          <br>
          <span class="pull-right">
            <% if notice.draft? %>
              <%= f.submit "公開", class: "btn btn-primary", name: "publish", data: { disable_with: "送信中" } %>
              <%= f.submit "下書き", class: "btn btn-default", data: { disable_with: "送信中" } %>
              <% if builtin %>
                <a class="btn btn-default" onClick="$('#notice_detail_<%= base_id %>').show(); $('#notice_builtin_form_<%= base_id %>').remove()" href="javascript:void(0);">キャンセル</a>
              <% end %>
            <% else %>
              <%= f.submit "更新する", class: "btn btn-primary", data: { disable_with: "送信中" } %>
              <% if builtin %>
                <a class="btn btn-default" onClick="$('#notice_detail_<%= base_id %>').show(); $('#notice_builtin_form_<%= base_id %>').remove()" href="javascript:void(0);">キャンセル</a>
              <% end %>
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
