<%= render "notices/tabs" %>
<br>

<% if params[:search] %>
  <legend>「<%= params[:search] %>」の検索結果</legend>
  <br>
<% end %>

<div class="container" id="notice_list">
  <% unless @notices.present? %>
    きづきはまだありません。
  <% else %>
    <% @notices.each do |notice| %>
      <div class="row" id="notice_row_<%= notice.id %>">
        <%= render "notices/summary", notice: notice %>
      </div>
    <% end %>
  <% end %>
</div>

<%= paginate @paginatable_array %>
