<%= render "notices/tabs" %>

<% if @notice.present? %>
  <%= render "notices/detail", notice: @notice %>

  <% @notice.replies.each do |reply| %>
    <%= render "replies/detail", notice: @notice, reply: reply %>
  <% end %>
  
  <%= render "replies/builtin_form", user: current_user, notice: @notice, reply: Reply.new %>
  <div class="col-md-12">
    <span class="pull-right">
      <%= link_to unread_notices_path, class: "btn btn-success" do %>
        次へ <span class="glyphicon glyphicon-play"></span>
      <% end %>
    </span><br>
  </div>
  <br>
  
  <% @breadcrumb = [
    [@notice.title, notice_path(@notice)],
    ["きづき一覧", notices_path]
  ]
  %>
<% else %>
  <br>
  <div class="well well-lg">
    おつかれさまでした。<br>
    全部読みました！
  </div>
<% end  %>
