<div class="panel panel-default">
  <div class="panel-body">
    <div class="media notice_unit">
      <span class="pull-right">
        <% if user == current_user %>
          <%= link_to edit_user_path(user), id: "edit_user_button_#{user.id}", class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        <% end %>
        <% if can_manage_users? %>
          <%= link_to user, id: "destroy_user_button_#{user.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        <% end %>
      </span>
      <%= link_to user, class: "pull-left" do %>
        <%= image_tag user.icon_url, alt: user.nickname, class: "img-rounded", size: "64x64" %>
      <% end %>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to user.nickname, user %></h4>
        <strong>Club:</strong>
        <%= user.club.name %>
        <br>
        <strong>所属など:</strong>
        <%= user.belonging_to %>
        <br>
        <br>

        <p class="text-muted small">
        <span class="glyphicon glyphicon-flash"></span> きづき: <%= user.notices_count %> /
        <span class="glyphicon glyphicon-envelope"></span> 返信: <%= user.replies_count %> /
        <span class="glyphicon glyphicon-star"></span> いいね: <%= user.liked_count %>
        </p>
      </div>
    </div>
  </div>
</div>
