<div class="media notice_unit">
  <div class="media-left">
    <%= link_to user_path(feedback.user) do %>
      <%= image_tag feedback.user.icon_url, alt: feedback.user.nickname, class: "img-rounded", size: "64x64" %>
      <br><small><%= feedback.user.nickname %></small>
    <% end %>
  </div>
  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to truncate(feedback.body, length: 40), feedback_path(feedback) %><br>
        <span class="pull-right"><%= feedback.created_at_string %></span>
      </div>
    </div>
  </div>
</div>
